<div class="col-md-10 col-md-offset-2">

  <div class="new-user-form">
    <p>

    </p>
    <%= form_for @user, :html => { :class => "form-group" } do |f| %>
      <div>
        <%= f.file_field :avatar %>
      </div>
     <div>
       <%= f.label :first_name %>
       <%= f.text_field :first_name,:class=> "form-control" %>
     </div>
     <div>
       <%= f.label :last_name %>
       <%= f.text_field :last_name,:class=> "form-control" %>
     </div>
     <div>
       <%= f.label :email %>
       <%= f.text_field :email,:class=> "form-control" %>
     </div>
     <div>
       <%= f.label :password %>
       <%= f.password_field :password,:class=> "form-control" %>
     </div>
     <div>
       <%= f.label :born_city %>
       <%= f.text_field :born_city,:class=> "form-control" %>
     </div>
     <div>
       <%= f.label :current_city %>
       <%= f.text_field :current_city,:class=> "form-control" %>
     </div>
     <div>
       <%= f.label :favorite_destination %>
       <%= f.text_field :favorite_destination,:class=> "form-control"%>
     </div>
     <div>
       <%= f.label :bio %>
       <%= f.text_area :bio,:class=> "form-control"%>
     </div>
     <div>
       <%= f.label :fav_travel_story %>
       <%= f.text_area :fav_travel_story,:class=> "form-control"%><br>
     </div>
     <%= f.submit "Sign Up", :class=> "btn btn-default" %>
    <% end %>

  </div>
</div>
