<h3 class="guide-text">New Post</h3>
  <div class="col-md-10 col-md-offset-2">
    <div class="new-user-form">
      <%= form_for [@city, @post], :html => { :class => "form-group" } do |f| %>
        <div class="">
            <%= f.label :title %>
            <%= f.text_field :title, :class=> "form-control" %>
        </div>

        <div class="">
            <%= f.label :city %>
            <%= f.text_field :city, :class=> "form-control" %>
        </div>
          <div class="">
              <%= f.label :story %>
              <%= f.text_area :story, :class=> "form-control" %>
          </div>

          
          <%= f.submit "Submit", :class=> "btn btn-default"  %>
      <% end %>
    </div>
  </div>
