<div class=".col-md-4 col-md-offset-2">

  <div class="profile-show">
    <h1><%= @post.title %></h1>
    <%= @post.city%> <br><br>
    <p><%= @post.story%></p>
    <p><strong><%= @post.author%></strong></p>
  </div>
  <% if current_user %>
    <%= button_to "Delete", "/cities/#{@city.id}/posts/#{@post.id}",:class => "btn btn-danger", method: :delete %>
  <% end %>

</div>
