<div class=".col-md-4 col-md-offset-2">
  <div>
    <%= link_to "New Post", new_city_post_path(@city), :method => :get, :class => "newpost" %>
    <% @postshow.each do |post| %>
    <ul class="profile-content">
      <h1><%= post.title %></h1>
       <br><br>
      <p><%= post.story%></p>
      <p><strong><%= post.author%></strong></p>
      <%= link_to "Delete", "/cities/#{@city.id}/posts/#{post.id}",:class => "delete", method: :delete, data: { confirm: "Are you sure?"} %> <br>
      <%= link_to "Edit", edit_city_post_path(@city[:id], post[:id]), method: :get, :class => "edit" %>
    </ul>
    </div>
    <% end %>

</div>
