<!DOCTYPE html>
<html>
<head>
  <title>Vagabond</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="<%= @full_background ? 'homepage' : 'page' %>">
    <nav class="navbar">
      <a class="navbar-brand" href="/">Vagabond</a>
      <ul class="nav navbar-nav navbar-right">
       <% if current_user %>
         <!-- <li><%= link_to "<span class='glyphicon glyphicon-pencil'></span>".html_safe, edit_user_path(current_user) %></li> -->
         <div class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    Cities
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <li><a class="dropdown-item" id="city" href="/cities/1">San Francisco</a></li>
    <li><a class="dropdown-item" id="city" href="/cities/2">Valdivia</a></li>
    <li><a class="dropdown-item" id="city" href="/cities/3">Melbourne</a></li>
    <li><a class="dropdown-item" id="city" href="/cities/4">Istanbul</a></li>
  </ul>
</div>
         <!-- <li class="nav-item dropdown">
         <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Cities</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" id="city" href="/cities/1">San Francisco</a> <br>
            <a class="dropdown-item" id="city" href="#">Valdivia</a>
            <a class="dropdown-item" id="city" href="#">Melbourne</a>
            <a class="dropdown-item" id="city" href="#">Istanbul</a>
          </div> -->
           <li class="nav-item nav-link active"><%= link_to "Profile", user_path(current_user) %></li>
           <li><%= link_to "Log Out", logout_path %></li>
        <% else %>
          <li class="nav-item nav-link active"><%= link_to "Create Account", new_user_path %></li>
          <li class="nav-item nav-link active"><%= link_to "Log In", login_path %></li>
        <% end %>
        </ul>
    </nav>
    <% flash.each do |name, msg| %>
    <p>
      <small class="alert alert-info"> <%= name.capitalize %>: <%= msg %> </small>
    </p>
    <% end %>
    <%= yield %>


  </div>
</body>
</html>
